@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    font-family: 'Press Start 2P', cursive;
}
div{
    margin:3vh;
}

.btn{
    background-color: red;
    border-color: black;
    width:100%;
    margin-top: 1vh;
    
    
}
.cart{
    padding:0vh;
    margin:0vh;
    margin-left:2vh;
    height:5vh;
    width:5vh;
}
.userButtons{
    width:30vh;
    height:7.5vh;
    display: flex;
    flex-direction:row;
}
.wrapper{
    padding:0vh;
    margin:0vh;
}
#userContent{
    display:flex;
    flex-direction:row-reverse;
    justify-content: left;
    margin:1vh;
    padding:1vh;
    height: 5vh;
}
#div-form{
    display: flex;
    flex-direction:column;
}

#body-div{
    display: flex;
    flex-direction:column
}

#pockemonImage{
    height:30vh;
}


#data{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

