@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    font-family: 'Press Start 2P', cursive;
}
div{
    margin:3vh;
}
.btn{
    background-color: red;
    border-color: black;
    width:100%;
    margin-top: 1vh;
    
    
}
#div-form{
    display: flex;
    flex-direction:column;
}

#body-div{
    display: flex;
    flex-direction:column
}

#pockemonImage{
    height:30vh;
}

#data{
    display: flex;
    flex-direction: row-reverse;
}

